div.hero[class*="wi"]
  &::before
    display: none


$wi-day-cloudy: 'https://hd.unsplash.com/44/xKNCBEgSTUGbgBoYgJ90_Skyline.jpg'
$wi-day-sunny: 'https://hd.unsplash.com/photo-1469114182292-14c05db80456'
$wi-day-fog: 'https://hd.unsplash.com/photo-1430921688227-2c59c6489072'
$wi-day-rain: 'https://hd.unsplash.com/19/drops.JPG'
$wi-day-snow: 'https://hd.unsplash.com/photo-1446463969211-28bf6e20b315'
$wi-day-thunderstorm: 'https://hd.unsplash.com/photo-1442213391790-7656f6e368b9'

$wi-night-clear: 'https://hd.unsplash.com/photo-1444282251956-3f19672caa8c'
$wi-night-cloudy: 'https://hd.unsplash.com/photo-1469020960707-d72e9e497f41'
$wi-night-fog: 'https://hd.unsplash.com/photo-1460494936962-50da3863c15b'
$wi-night-rain: 'https://hd.unsplash.com/photo-1438260483147-81148f799f25'
$wi-night-snow: 'https://hd.unsplash.com/photo-1466454709953-f4b128c56f48'
$wi-night-thunderstorm: 'https://hd.unsplash.com/photo-1431440869543-efaf3388c585'

=background($condition, $image)
  .hero.#{$condition}
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url($image)
  .container.#{$condition}
    &::before
      background-image: url($image)


+background(wi-day-cloudy-gusts, $wi-day-cloudy)
+background(wi-day-cloudy, $wi-day-cloudy)
+background(wi-day-fog, $wi-day-fog)
+background(wi-day-rain, $wi-day-rain)
+background(wi-day-snow, $wi-day-snow)
+background(wi-day-sprinkle, $wi-day-rain)
+background(wi-day-sunny, $wi-day-sunny)
+background(wi-day-thunderstorm, $wi-day-thunderstorm)
+background(wi-night-clear, $wi-night-clear)
+background(wi-night-cloudy-gusts, $wi-night-cloudy)
+background(wi-night-cloudy, $wi-night-cloudy)
+background(wi-night-fog, $wi-night-fog)
+background(wi-night-rain, $wi-night-rain)
+background(wi-night-snow, $wi-night-snow)
+background(wi-night-sprinkle, $wi-night-rain)
+background(wi-night-thunderstorm, $wi-night-thunderstorm)
