.hero
  height: 75%
  display: flex
  flex-direction: column
  justify-content: space-between
  padding: 2em 2.8em
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  border-radius: .6em .6em 0 0


.city
  display: flex
  justify-content: space-between
  span
    color: rgba(255,255,255, 0.6)
    font-weight: 600
    text-transform: uppercase
    font-size: 2em
    letter-spacing: .08em
  input
    align-self: center
    background: rgba(255, 255, 255, 0.3)
    border: none
    border-radius: 10em
    padding-left: .8em
    &::placeholder
      color: rgba(255, 255, 255, 0.6)

.current-weather
  display: flex
  //background: rgba(0,0,0,0.7)
  width: 40%
  flex-wrap: wrap
  color: rgba(255,255,255, 0.6)
  &__temp
    width: 50%
    color: rgba(255,255,255, 0.6)
    font-size: 3.2em
    text-align: center
    border-right: 1px solid white
    user-select: none
    cursor: pointer
    color: rgba(255,255,255, 0.6)
    span
      font-size: 1em
  &__icon
    width: 50%
    //background: gold
    font-size: 3.7em
    text-align: center
    align-self: center
    color: rgba(255,255,255, 0.6)

  &__description
    width: 100%
    text-align: center
    font-size: 2em
    border-top: 1px solid white
    color: rgba(255,255,255, 0.6)


@media (max-width: 920px)
  .city
    span
      font-size: 1.5em
  .current-weather
    &__temp,
    &__icon
      font-size: 2em
    &__description
      font-size: 1.5em

@media (max-width: 540px)
  .city
    flex-direction: column
    position: relative
    span
      text-align: center
    input
      margin: 0 auto
      display: block
  .current-weather
    width: 100%
